*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 5vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

input {
  width: 75vw;
  height: 25vh;
  border-radius: 5vmin;
  resize: none;
}

button {
  border: 0;
  cursor: pointer;
  border-radius: 5vmin;
}